
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Logging out";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>You have logged out successfully.</h3>
    <h3><a href="~/Home/Index">Main page</a></h3>
</body>
</html>