@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sign in or register";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p><a href="~/Home/Index">Back to main page</a></p>

    <h2>Sign in</h2>

    @using (Html.BeginForm("LoginSuccessful", "Home", FormMethod.Post))
    {
        <p>
            <label for="email_signin">Email:</label><br>
            <input type="email" id="email_signin" name="email_signin">
        </p>
        <p>
            <label for="password_signin">Password:</label><br>
            <input type="password" id="password_signin" name="password_signin">
        </p>
        <p>
            <input type="submit" />
        </p>
    }


    <h2>Register</h2>

    @using (Html.BeginForm("RegistrationSuccessful", "Home", FormMethod.Post))
    {
        <p>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname">
        </p>
        <p>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
        </p>
        <p>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <label for="confirmation">Confirm password:</label><br>
            <input type="password" id="confirmation" name="confirmation">
        </p>
        <p>
            <input type="submit" />
        </p>
    }

</body>
</html>